.formRow {
  display: inline-block;
  width: 100%;

  label {
    display: block;
    width: 100%;
    text-align: left;
  }

  select {
    display: block;
    width: auto;
    float: left;
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    padding: 0 0px;
    margin: 0em;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.formSelect {
  height: 36px;
}