.formRow {

  height: 50px;
  width: 100%;
  display: flex;
  margin: 20px 0;

  label {
    position: absolute;
    top: 50%;
    left: 15px;
    pointer-events: none;
    color: #666666;
    transform: translateY(-50%);
  }

  input {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #595959;
    border-radius: 25px;
    background: #dde1e7;
    box-shadow: inset 3px 3px 5px #babecc,
    inset -3px -3px 5px #ffffff73;
    caret-color: auto;
  }

  input:focus{
    box-shadow: inset 1px 1px 2px #babecc,
    inset -1px -1px 2px #ffffff73;
  }

  input:valid ~ label {
    opacity: 0;
  }
}